@labelWidth: 100px;
@labelPadding: 20px;
@inputHeight: 28px;
@inputWidth:220px;

.hover { background-color: #eee; }

input{
	//height: @inputHeight;
	//width: @inputWidth;
}

textarea{
	//width: @inputWidth;
}

.input{

	label{
		padding-right: @labelPadding;
		width: @labelWidth;
		text-align: right;

		display: inline-block;

		.blockLabel{
			display: block;
		}
	}

	.defaultWidth{
		width: auto;
	}
}

span.help-block{
	padding-left: @labelWidth + @labelPadding;
}

.popover-inner{
	width: auto;
	min-width:200px;
	max-width:70%;
	height: auto;
	min-height:100px;
	max-height:50%;
	
}

// Hotfix

select#VideoReleasedateMonth{
	width: 105px;
}